<h1>My Fair Election</h1>
<hr />
<div class="section">
  <h2>Where To Go To Vote</h2>
  <p>
      Find out where to go to vote, and what the Voter ID rules are in your state. Enter the address of where you live to get started.
  </p>
  <%= form_tag("/polling_place/find", method: "get") do %>
    <%= text_field_tag :address, nil, :class => 'span5' %> <%= submit_tag("Show", :class => 'btn btn-primary') %> <br />
    <em class="light small"><strong>Example:</strong> 555 Smith St., Walla Wall, WA 55512</em>
  <% end %>
  
  <p>Having trouble at your polling place? <a href="fraud.html">Here are some resources to help you</a></p>
</div>
