<%= render "form" %>


<% if @polling_place.valid? %>
<p>Your polling place is:</p>
<p><%= @polling_place.name %></p>
<p><%= @polling_place.street %></p>
<p><%= "#{@polling_place.city}, #{@polling_place.state} #{@polling_place.zip}" %></p>

<% else %>
<p>No information is available.</p>
<% end %>
