<%= form_tag(voter_info_find_path, method: "get") do %>
	<h2>Let's tell voting locations how they did</h2>
	<p>
	 	<strong>Start by entering your address so we can find where you voted.</strong><br />
		<em class="light small">Example: 555 Smith St, Walla Walla, WA 55512</em>
	</p>
	<%= text_field_tag :address, nil, :class => 'span5' %> <%= submit_tag("Show Information", :class => 'btn btn-primary') %>
    <p>
        After finding your polling your location, we will ask you for your rating.<br />
    </p>
<% end %>
