<%= form_tag(voter_info_find_path, method: "get") do %>
	<h2>Find out about&nbsp;your voting&nbsp;location</h2>
	<p>
	 	<strong>Many polling locations have changed. Enter your home address to&nbsp;get&nbsp;started.</strong><br />
		<em class="light small">Example: 555 Smith St, Walla Walla, WA 55512</em>
	</p>
	<%= text_field_tag :address, nil, :class => 'span5' %> <%= submit_tag("Show Information", :class => 'btn btn-primary') %>
    <p>
        We'll tell you where you'll need to go to vote, the voter ID rules in&nbsp;your&nbsp;state, and more!<br />
    </p>
<% end %>
