<%= form_tag(voter_info_find_path, method: "get") do %>
	<h2>Thank you for your reviews!</h2>
	<p>
		We received hundreds of great, well thought out reviews of the voting process for the November 6, 2012 election.
		Thanks to everyone who contributed - and stay tuned for more information and analysis of the results!
	</p>
    <p>
		If you're interested in access to our dataset, please contact us at <a href="mailto:info@myfairelection.com">info@myfairelection.com</a>
    </p>
<% end %>
