.block_sm {
	display: inline;
}
input[type="file"].btn-inline,
input[type="image"].btn-inline,
input[type="submit"].btn-inline,
input[type="reset"].btn-inline,
input[type="button"].btn-inline,
input[type="radio"].btn-inline,
input[type="checkbox"].btn-inline {
	width: auto;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
}

.alert-flash {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    border-bottom: none;
	-webkit-border-bottom-right-radius: 9px;
	-moz-border-radius-bottomright: 9px;
	border-bottom-right-radius: 9px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
       -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.section-mast .div-decor {
	width: 70%;
	min-width: 450px;
}

.inline {
	display: inline-block;
	text-align: left;
}

.signin-btn {
	display: none;
}

.signin {
	display: block;
	background-color: inherit;
	float: right;
}

.signin input[type="text"], .signin input[type="email"], .signin input[type="password"] {
	width: 120px;
}

.signin form label {
	color: #ADAF87;
}

.signup {
	width: 85%;
	margin-bottom: 0;
}

.page {
    min-width: 450px;
    width: 70%;
    margin: 24px 0;
	-webkit-border-radius: 12px;
	   -moz-border-radius: 12px;
	        border-radius: 12px;
}

#test-size {
	width: 40px;
}
