<div class="page">
    <div class="section">
		<p>Welcome <%= @resource.email %>!</p>

		<p>Improve the voting process through your feedback! Click the confirmation link below to verify your email address:</p>

		<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
		<p>The MyFairElection Team</p>
	</div>
</div>