<% if polling_location.description %>
  <p>You described your polling location in <%= polling_location.state %> as:</p>
  <p><%= polling_location.description %>
<% else %>
	<% [:name, :location_name, :line1, :line2, :line3].each do |a| %>
	  <% if a %><% unless polling_location.send(a).blank? %><%= polling_location.send(a) %><br /><% end %><% end %>
	<% end %>
	<%= "#{polling_location.city}, #{polling_location.state} #{polling_location.zip}" %><br />
<% end %>
