<%= render "polling_locations/detailed", polling_location: @polling_location %>
<% if current_user %>
	<% current_user_review = @polling_location.reviews.where(:user_id => current_user.id).first %>
	<% if current_user_review %>
	  <strong>Your review was:</strong><br />
	  <%= render "reviews/review", review: current_user_review %>
	<% end %>
<% end %>
<% other_reviews = @polling_location.reviews.where('user_id != ?', current_user ? current_user.id : 0) %>
<% if other_reviews.length > 0 %>
	<p><strong>Other reviews for this location:</strong></p>
	<% other_reviews.each do |review| %>
		<%= render "reviews/review", review: review %>
	<% end %>
<% end %>
