<p>Voted at: <%= "#{review.voted_day} #{review.voted_time}" %></p>
<p>Rating: <%= review.rating %> </p>
<p>Able to vote: <%= review.able_to_vote? ? "Yes" : "No" %></p>
<p>Comments:</p>
<p><%= review.comments %></p>

