<p>
	Voted at: <%= "#{review.voted_day} #{review.voted_time}" %><br />
	Rating: <%= review.rating %><br />
	Able to vote: <%= review.able_to_vote? ? "Yes" : "No" %><br />
	Comments:<br />
	<%= review.comments %>
</p>
