<h2>About Us</h2>
<br />
<h3>The Problem</h3>
If election day 2012 is anything like 2008 and 2004, many voters will face obstacles to voting: long lines, broken machines, even intimidation and perhaps voter fraud. In a country as large as ours, there are too many polling places and too few election monitors.<br />
<br />
<h3>How You Can Help</h3>
For just a few seconds of your time, you can become a citizen election monitor.
<%= link_to 'Sign up', new_user_registration_path %> on My Fair Election, and 
on election day you can tell others about your voting experience and rate it on 
this site.<br />
<br />
<h3>Make This Election Transparent</h3>
If enough people like you participate, My Fair Election will collect ratings for every polling place in the United States. On election day, MFE will provide heat maps that identify where it is easy and hard to vote in the US, just as Yelp! ratings help you figure out which restaurants are good and bad.<br />
<br />
<h3>Why This Will Improve American Democracy</h3>
We hope that this information will be used by citizens, journalists, and election officials to identify the worst polling places and work to fix them. We hope that officials in charge of polling places with long lines or that otherwise operate poorly will be embarrassed, held to account, and motivated to do a better job.<br />
<br />
Every American should have access to smooth, well run voting opportunities. Please help make that a reality.