    <h2>Credits</h2>
    <br />
    <h4>Companies</h4>
    <ul class="clean links">
        <li><a href="http://www.rackspace.com/" target="_blank">Rackspace</a><div class="light"><em>Hosting</em></div></li>
        <li><a href="http://www.sendgrid.com/" target="_blank">SendGrid</a><div class="light"><em>Email</em></div></li>
        <li><a href="https://developers.google.com/civic-information/" target="_blank">Google Civic Information API </a><div class="light"><em>Data</em></div></li>
        <li><a href="http://votinginfoproject.org/" target="_blank">Voting Information Project</a><div class="light"><em>Data</em></div></li>
        <li><a href="http://returnpath.com/" target="_blank">Return Path</a><div class="light"><em>Email Intelligence</em></div></li>
        <li><a href="http://birdbox.com/" target="_blank">Bird Box</a><div class="light"><em>Photo Sharing</em></div></li>
        <li><a href="http://nationbuilder.com/" target="_blank">Nation Builder</a><div class="light"><em>Data</em></div></li>
        <li><a href="http://cloud-elements.com/" target="_blank">Cloud Elements</a><div class="light"><em>Architecture</em></div></li>
        <li><a href="http://billtrack50.com/" target="_blank">Legination</a><div class="light"><em>Financial Support</em></div></li>
    </ul>
    <br />
    <h4>Individuals</h4>
    <ul class="clean links">
        <li><span class="link">Archon Fung</span><div class="light"><em>Vision</em></div></li>
        <li><a href="http://www.ash.harvard.edu/Home/About/Fellows-Scholars/Democracy/Russon-Gilman-Hollie" target="_blank">Hollie Russon-Gilman</a><div class="light"><em>Vision</em></div></li>
        <li><span class="link">Karen Suhaka</span><div class="light"><em>Project Management</em></div></li>
        <li><span class="link">David Paschich</span><div class="light"><em>Web Development</em></div></li>
        <li><a href="http://movefromcenter.com/" target="_blank">Curtis Floth</a><div class="light"><em>Web Design</em></div></li>
        <li><span class="link">Will Hickey</span><div class="light"><em>Data</em></div></li>
        <li><span class="link">Phil Hickey</span><div class="light"><em>Data</em></div></li>
        <li><span class="link">Rebekah Mullen</span><div class="light"><em>Data</em></div></li>
        <li><span class="link">Kate Hoagland</span><div class="light"><em>Marketing</em></div></li>
        <li><span class="link">Eric Princen</span><div class="light"><em>Architecture</em></div></li>
        <li><span class="link">Trent Pingenot</span><div class="light"><em>Mapping</em></div></li>
    </ul>
