            <h2>Having trouble at your polling place?</h2>
            <p>Here are some resources to help you:</p>
            <ul>
                <li><a href="http://www.letmypeoplevote2012.com/" target="_blank">Let My People Vote</a></li>
                <li><a href="http://www.costoffreedom.info/" target="_blank">Cost of Freedom Project</a></li>
                <li><a href="http://www.866ourvote.org/" target="_blank">Election Protection</a></li>
                <li><a href="http://votinginfoproject.org/" target="_blank">Voting Information Project</a></li>
            </ul>
