<h2>Terms Of Use</h2>
<h3>Welcome to My Fair Election!</h3>
This Agreement sets forth the terms and conditions that apply to your access and use of the
website http://myfairelection.com/. Please read the terms carefully, as they may have changed
since your last visit. The most recent version of the Terms of Use may be viewed at <a href="https://myfairelection.com/info/terms_of_use">https://myfairelection.com/info/terms_of_use</a>.<br />
<br />
<h4>1. Acceptance of Terms</h4>

By using our <a href="/">http://myfairelection.com/</a> website, you agree to be bound this Agreement. By
accepting this Agreement, you warrant that you are at least 18 years of age. These Terms of
Service apply to all <a href="/">http://myfairelection.com/</a> online services and features unless otherwise
indicated<br />
<br />
<h4>2. Privacy Policy</h4>

At MyFairElection, we believe that protection of your privacy is important. Please read our
<a href="/info/privacy_policy">Privacy Policy</a>, which is incorporated herein by reference.<br />
<br />
<h4>3. Description of the Service</h4>

MyFairElection, Inc. (“MFE,” “we,” or “us”) created http://myfairelection.com/ to allow Users
(“you”) to provide feedback on the voting process in American elections by reporting on polling
conditions and procedures and allowing users to rate their voting experience at their local polling
place (“Polling Conditions Feature”). In the aggregate, this user-submitted data will allow
tracking of polling conditions both across time and geography.<br />
<br />
The term “Website” includes all of the information, tools, software, content, and features
available on the http://myfairelection.com/. Users are responsible for obtaining any equipment
or Internet service necessary to access the Website, and for paying any fees for the equipment
and service you select. We may alter, suspend, or discontinue this Website in whole or in part,
at any time and for any reason, without notice. The Website may also periodically become
unavailable due to maintenance or malfunction of computer equipment or for other reasons.<br />
<br />
This Website is meant to allow you to report on the voting process. We believe that voting is a
fundamental aspect of civil society in America. As such, please note: THE WEBSITE DOES NOT
ENCOURAGE ANY VIOLATION OF ANY LAW WHATSOEVER, INCLUDING BUT NOT LIMITED TO
FEDERAL ELECTION LAW.<br />
<br />
<h4>4. Website Content</h4>

Users have a personal, non-transferable, non-exclusive right to access and use the Content of this
Website subject to these terms and conditions. The term “Content” means all information, text,
images, data, links, software, or other material accessible through the Website, whether created
by us or provided by another person for display on the Website.<br />
<br />
The Content, whether provided by MFE or Users, may contain typographical errors, other
inadvertent or intended errors, or inaccuracies. We reserve the right to make changes to
document names and content, descriptions or specifications of products or services, or other
information without obligation to issue any notice of such changes.<br />
<br />
You may view, copy, download, and print, Content that is available on this Website, subject to
the following conditions:<br />
<br />
a. The Content may be used solely for personal, educational, or informational purposes.
No Content may be reproduced or transmitted in any form, by any means, electronic or
mechanical, including photocopying and recording for any other purpose.<br />
<br />
b. Content, whether provided by MFE or other Users, may not be modified.<br />
<br />
c. Copyright, trademark, and other proprietary notices may not be removed.<br />
<br />
Nothing contained on this Website should be construed as granting, by implication,
estoppel, or otherwise, any license or right to use, copy, reproduce, distribute, disseminate, or
publish any Content displayed on this Website, through the use of framing or otherwise, except:
(a) as expressly permitted by these terms of use; or (b) with our prior written permission or the
permission of such third party that may own the trademark or copyright of material displayed on
this Website.<br />
<br />
<h4>5. Use of the MyFairElection Datasets</h4>

MFE has or anticipates the creation of one or more datasets compiled through the aggregation
of user-submitted data on voting conditions. We may or may not provide public access to
these datasets. In the event such datasets are made publicly accessible, Users may use them as
the basis for academic studies or projects, so long as they are properly attributed to us. Any
unauthorized commercial use of MFE’s datasets is expressly prohibited. For more information
about MFE’s data, please contact us at info@MyFairElection.com.<br />
<br />
<h4>6. Content Submitted by Users</h4>

A) Personal Information. You may use our Website without volunteering personally
identifiable information. Please refer to our Privacy Policy for additional
information on our practices for handling personally identifiable information.
However, if you choose to provide information about your voting experience, you
represent that the information you do provide is accurate and complete.<br />
<br />
B) Information about Others. When providing information about their voting
experience, Users may have the option to submit pictures. If Users decide to
submit pictures to the Website, they agree that: (i) all pictures will be taken in
compliance with any applicable voting and election laws; and (ii) no picture will
allow any other person to be personally identified, unless the User received prior
permission from such person(s).<br />
<br />
C) Liability. We are not responsible or liable for any views, opinions, or statements
expressed in Content submitted for public display through our Website, whether
through the Polling Conditions Feature or any future forums, bulletin boards, or
chat rooms (“Future Public Posting Areas”) that MFE may add to the Website
at a later date. We do not prescreen information posted to the Website. We
also do not undertake to review any information posted to the Website, though
we may do so if we wish. With respect to the Polling Conditions Feature or
any Future Public Posting Areas that we may make available, we are acting as a
passive conduit for such distribution and are not responsible for Content. Any
opinions, advice, statements, services, offers, or other information in Content
expressed or made available by users of the Polling Conditions Feature or the
Future Public Posting Areas are those of the respective author(s) or distributor(s)
and not MyFairElection, Inc. We neither endorse nor guarantee the accuracy,
completeness, or usefulness of any such Content. You are responsible for
ensuring that Content submitted to this Website is not provided in violation
of any copyright, trade secret, or other intellectual property rights of another
person or entity. You shall be solely liable for any damages resulting from any
infringement of copyrights, trade secrets, or other intellectual property rights, or
any other harm resulting from your uploading, posting, or submission of Content
to this Website.<br />
<br />
D) Monitoring. We have the right, but not the obligation, to monitor Content
submitted to our Website to determine compliance with these Terms of Service
and any other applicable rules that we may establish and that may be revised
at any time. Additionally, we have the right to remove any material that
MyFairElection, Inc., in its sole discretion, finds to be in violation of these Terms<br />
<br />
E) of Service or otherwise objectionable. You are solely responsible for the Content
that you post to this website.<br />
<br />
Lobbying. Federal law restricts lobbying activities by tax-exempt organizations.
“Lobbying” includes certain activities intended to influence legislation. Content
posted by users does not constitute lobbying by MyFairElection, Inc. but may
constitute lobbying by you or an organization that you represent. Users are
expressly prohibited from using this Website to engage in lobbying of any sort.<br />
<br />
Through its operation of https://myfairelection.com/, MFE does not seek, in any
way, to:<br />
<br />
i) encourage or discourage Users to vote for or against any candidate;<br />
<br />
ii) encourage or discourage User to vote for or against, or support or oppose,
any bill, statute, law, regulation, ordinance, or any other legislative
action, or any judgment, decree, order, or any other judicial action, or any
enforcement, policy, order, or any other executive action;<br />
<br />
iii) encourage Users to obstruct, hinder, or impede in any way, (a) the process
of voting for other voters, or (b) the duties and obligations of election
workers or volunteers<br />
<br />
We do, however, highly encourage you to vote in compliance with the relevant
federal, state, and municipal voting laws.<br />
<br />
<h4>7. Your Registration Information</h4>

Use of the Website requires users to supply an email and password. You agree and understand
that you are responsible for maintaining the confidentiality of your password. You agree to
notify us immediately if you believe that your login or password has been or may be used
without your permission so that appropriate action can be taken. We are not responsible for
losses or damage caused by your failure to safeguard your login and password.<br />
<br />
MFE will not share your email address with any third-parties without your permission.<br />
<br />
<h4>8. Prohibited Conduct</h4>

By accessing our Website or any other service provided through our Website, you agree to abide
by the following standards of conduct. You agree that you will not, and will not authorize or<br />
<br />
facilitate any attempt by another person to use our Website or any service provided through our
Website to:<br />
<br />
A) Attempt to decipher, decompile, disassemble, or reverse-engineer any of the
software comprising or in any way making up a part of the Website;<br />
<br />
B) Transmit any Content that:<br />
<br />
i) includes files or hyperlinks which contain viruses, worms, Trojan horses,
spyware, malware, or any other destructive features, or any data otherwise
intended to interfere with the proper working of the Website;<br />
<br />
ii) is unlawful, harmful, threatening, abusive, harassing, defamatory,
vulgar, offensive, obscene, pornographic, lewd, lascivious, or otherwise
objectionable;<br />
<br />
iii) is intended to harass, threaten, or intentionally embarrass or cause distress
to another person or entity;<br />
<br />
iv) is hateful or racially or ethnically objectionable;<br />
<br />
v) infringes any other party’s copyright, trademark, or trade secret.;<br />
<br />
vi) constitutes an unsolicited advertisement or unlawful promotion of
products or services;<br />
<br />
vii) impersonates another person; or<br />
<br />
viii) encourages conduct that would constitute a criminal or civil offense;<br />
<br />
C) Promote, solicit, or participate in any multi-level marketing or pyramid schemes;<br />
<br />
D) Exploit children under 18 years of age;<br />
<br />
E) Engage in disruptive activity such as sending multiple messages in an effort to
monopolize the forum of any feature of the Website;<br />
<br />
F) Invade the privacy of any person, including but not limited to posting personally
identifying or otherwise private information about or photos of a person without
their consent (or their parent’s consent in the case of a child under 13 years of<br />
<br />
age); or<br />
<br />
G) Violate any federal, state, local, or international law or regulation.<br />
<br />
These are some, though not all, of the activities that may result in removal of Content which you
post to the Website and/or the termination of your access to the Website.<br />
<br />
<h4>9. Indemnification</h4>

By using this Website, you agree to indemnify, hold harmless, and defend MyFairElection, Inc.
and its officers, directors, employees, and agents from any claims, damages, losses, liabilities,
and all costs and expenses of defense, including but not limited to, attorneys' fees, resulting
directly or indirectly from a claim by you or a third-party that arises in connection with: (i) your
use of and access to the Website; (ii) your violation of any term of these Terms of Use; (iii)
your violation of any third-party right, including without limitation any copyright, property, or
privacy right; or (iv) any claim that any sharing of information caused damage to a third-party.
This defense and indemnification obligation will survive these Terms of Use and your use of the
Website.<br />
<br />
<h4>10. Intellectual Property Rights</h4>

Unless otherwise noted, all Content provided by MFE on this Website is the property of
MyFairElection, Inc. and/or its affiliates or licensors, and is protected from unauthorized copying
and dissemination by United States copyright law, trademark law, international conventions, and
other intellectual property laws. Product names are trademarks or registered trademarks of their
respective owners.<br />
<br />
You agree that MFE may use your feedback or suggestions in any way, including in updates
to the website or other services. You grant MFE a perpetual, worldwide, fully transferable,
sublicensable, irrevocable, fully paid-up, royalty free license to use, modify, publish, exploit,
adapt, and create derivative works from the feedback or suggestions you provide to MFE in
any way. MFE will not sell, publish, or share your feedback in any way that could identify you
without your permission.<br />
<br />
You understand that some or all Content may not only be publicly accessible, but may be
aggregated into a dataset, along with content submitted by other users. You grant MFE a
perpetual, worldwide, fully transferable, sublicensable, irrevocable, fully paid-up, royalty free
license to use, modify, publish, exploit, adapt, and create derivative works from the content you
submit to the site relating in any way to your voting experience. MFE may make this dataset
publicly available or otherwise publish it, but the dataset will be used only for academic or<br />
<br />
research purposes or as the basis for articles or other written pieces on voting and will not be sold
to third-parties.<br />
<br />
<h4>11. Copyright Infringement; Notice and Takedown Procedures</h4>

If you believe that any materials on this Website infringe your copyright, you may request
that they be removed. This request must bear a signature (or electronic equivalent) of the
copyright holder or an authorized representative and must include the following information: (1)
identification of the copyrighted work that you believe to be infringed, including a description
of the work and, where possible, a copy or the location of an authorized version of the work;
(2) identification of the material that you believe to be infringing, including a description of
the material, its Website location, or other pertinent information that will help us to locate the
material; (3) your name, address, telephone number, and email address; (4) a statement that
you have a good faith belief that the complained of use of the materials is not authorized by
the copyright owner, its agent, or the law; (5) a statement that the information in your claim is
accurate; and (6) a statement that "under penalty of perjury," you declare that you are the lawful
copyright owner or are authorized to act on the owner’s behalf. Our agent for copyright issues
relating to this Website is: Webmaster, MyFairElection,Inc. 1747 Pearl St #304, Denver CO,
80203 (address), (617)-388-3159 (phone), info@MyFairElection.com (e-mail).<br />
<br />
In an effort to protect the rights of copyright owners, we may revoke the accounts of Users of
this Website who are repeat infringers as we wish.<br />
<br />
<h4>12. Disclaimer of Warranty</h4>

Under no circumstances will we be liable for any loss or damage caused by your reliance on
information in any Content on this Website. It is your responsibility to evaluate the accuracy,
completeness, or usefulness of any information, opinion, advice, or other content available
through this Website.<br />
<br />
ALL CONTENT, TEXT, IMAGES, AND OTHER INFORMATION ON OR ACCESSIBLE FROM THIS
WEBSITE ARE PROVIDED ‘AS IS’ WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. SPECIFICALLY, BUT WITHOUT
LIMITATION MYFAIRELECTION, INC. DOES NOT WARRANT THAT: (I) THE INFORMATION
AVAILABLE ON THIS WEBSITE IS FREE OF ERRORS; (II) THE FUNCTIONS OR SERVICES (INCLUDING
BUT NOT LIMITED TO MECHANISMS FOR THE SHARING OF CONTENT) PROVIDED BY OR
THROUGH THIS WEBSITE WILL BE UNINTERRUPTED, SECURE, OR FREE OF ERRORS; (III) DEFECTS
WILL BE CORRECTED, OR (IV) THIS WEBSITE IS FREE OF VIRUSES OR OTHER HARMFUL
COMPONENTS.<br />
<br />
<h4>13. Limitation of Liability</h4>

IN NO EVENT SHALL MYFAIRELECTION, INC., ITS OFFICERS, DIRECTORS, EMPLOYEES, OR
AGENTS BE LIABLE TO ANY USER OF THIS WEBSITE OR ANY OTHER PERSON OR ENTITY FOR
ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, OR EXEMPLARY DAMAGES
(INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, LOSS OF DATA, LOSS
OF USE, OR COSTS OF OBTAINING SUBSTITUTE GOODS OR SERVICES) ARISING OUT OF THE
USE, INABILITY TO USE, UNAUTHORIZED ACCESS TO, OR MISUSE OF THE WEBSITE OR ANY
INFORMATION CONTAINED THEREON, WHETHER BASED UPON WARRANTY, CONTRACT, TORT
(INCLUDING ANY NEGLIGENCE OF MYFAIRELECTION, INC.), OR ANY OTHER LEGAL THEORY,
EVEN IF MYFAIRELECTION, INC. HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH
DAMAGES OR LOSSES. ADDITIONALLY, MYFAIRELECTION, INC. SHALL NOT BE LIABLE TO
ANY USER OF THIS WEBSITE OR ANY OTHER PERSON OR ENTITY FOR ANY DIRECT, INDIRECT,
SPECIAL, INCIDENTAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES RELATED TO THE ACTS
OR OMISSIONS OF CONTRACTORS, SERVICE PROVIDERS, OR ANY OTHER THIRD PARTIES IN
CONNECTION WITH OUR WEBSITE.<br />
<br />
IN THE EVENT MYFAIRELECTION, INC. IS NEVERTHELESS FOUND LIABLE TO YOU FOR ANY
CAUSE WHATSOEVER AND, REGARDLESS OF THE FORM OF THE ACTION, MYFAIRELECTION’S
LIABILITY WILL AT ALL TIMES BE LIMITED TO FIVE-HUNDRED UNITED STATES DOLLARS ($50).
YOU ACKNOWLEDGE THAT THIS LIMITATION WAS A MATERIAL INDUCEMENT TO OUR MAKING
THIS WEBSITE AVAILABLE TO YOU WITHOUT COST.<br />
<br />
<h4>14. Exclusions</h4>

SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES OR THE
LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES.
ACCORDINGLY, SOME OF THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.<br />
<br />
<h4>15. Links to Third-Party Websites</h4>

This Website may contain links to non-MFE websites that are provided to you as a convenience.
Any outside website accessed from our Website is independent from MFE, and we have no
control over the content of such websites. We are not responsible for the content of any linked
website or for any loss or damage incurred in connection with your use of such links or dealings
with the operators of such non-MFE websites.<br />
<br />
<h4>16. No Implied Endorsements</h4>

In no event shall any reference to any third-party or third-party product or service be construed
as an approval or endorsement by MFE of that third-party or of any product or service provided
by a third-party. Likewise, a link to any non-MFE website does not imply that we endorse
or accept any responsibility for the content or use of such a website. MFE does not endorse,
warrant, or guarantee any product or service offered by any third-party and will not be a party
to or in any way monitor any transaction involving any third-party providers of products
or services. As with the purchase of a product or service through any medium or in any
environment, you are responsible for exercising appropriate judgment and caution.<br />
<br />
<h4>17. Jurisdictional Issues</h4>

We make no representation that information on this Website is appropriate or available for use
outside the United States. Those who choose to access this Website from outside the United
States do so on their own initiative and at their own risk and agree that they are responsible for
compliance with applicable local laws.<br />
<br />
<h4>18. Governing Law and Forum for Disputes</h4>

These Terms of Use shall be governed and interpreted pursuant to the laws of the
Commonwealth of Massachusetts, United States of America, notwithstanding any principles of
conflicts of law.<br />
<br />
All disputes arising out of or relating to these Terms of Use shall be finally resolved by
arbitration conducted in the English language in Boston, Massachusetts, United States of
America, under the commercial arbitration rules of the American Arbitration Association.
The parties shall appoint as sole arbitrator a retired judge who presided in the Commonwealth
of Massachusetts. The parties shall bear equally the cost of the arbitration (except that the
prevailing party shall be entitled to an award of reasonable attorneys' fees incurred in connection
with the arbitration in such an amount as may be determined by the arbitrator). All decisions of
the arbitrator shall be final and binding on both parties and enforceable in any court of competent
jurisdiction.<br />
<br />
Under no circumstances shall the arbitrator be authorized to award punitive damages, including
but not limited to federal or state statutes permitting multiple or punitive damage awards. Any
purported award of punitive or multiple damages shall be beyond the arbitrator’s authority, void,
and unenforceable. Under no circumstances shall the arbitrator allow any claims you may have
to proceed as class actions.<br />
<br />
You agree that, with respect to any dispute with MyFairElection, Inc. its officers, directors,
employees, agents or affiliates, arising out of or relating to your use of the Website or these
Terms of Use:<br />
<br />
A) YOU ARE GIVING UP YOUR RIGHT TO HAVE A TRIAL BY JURY; and<br />
<br />
B) YOU ARE GIVING UP YOUR RIGHT TO SERVE TO SERVE AS A REPRESENTATIVE,
AS A PRIVATE ATTORNEY GENERAL, OR IN ANY OTHER REPRESENTATIVE
CAPACITY, OR TO PARTICIPATE AS A MEMBER OF A CLASS OF CLAIMANTS, IN
ANY LAWSUIT INVOLVING SUCH DISPUTE.<br />
<br />
Notwithstanding the foregoing, we shall be entitled to seek injunctive relief, security, or other
equitable remedies from the United States District Court for the District of Massachusetts or any
other court of competent jurisdiction when, because of the necessity of time, we would otherwise
suffer an irreparable injury.<br />
<br />
<h4>19. Assignment</h4>

These Terms of Use, and any rights and licenses granted hereunder, may not be transferred or
assigned by you, but may be assigned by MyFairElection, Inc. without restriction.<br />
<br />
<h4>20. Severability</h4>

If any part of these Terms of Use is held to be unlawful, void, or unenforceable, that part will be
deemed severable and shall not affect the validity and enforceability of the remaining provisions.<br />
<br />
<h4>21. Waiver</h4>

No waiver of any term of these Terms of Use shall be deemed a further or continuing waiver
of such term or any other term, and MFE’s failure to assert any right or provision under these
Terms of Use shall not constitute a waiver of such right or provision.<br />
<br />
<h4>22. Amendments or Revisions</h4>

MYFAIRELECTION, INC. RESERVES THE RIGHT TO MODIFY THESE TERMS OF USE WITHOUT
NOTICE AND AT ANY TIME BY POSTING A NEW VERSION OF THESE TERMS OF USE TO THE
WEBSITE.<br />
<br />
<h4>23. Entire Agreement</h4></h4>

These Terms of Use constitute the entire agreement between the parties relating to the subject
matter herein.
